In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
dataset = pd.read_csv(fr'Dataset/games.csv')
dataset.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [66]:
list_average_score_per_year = []
month_dict = {'Jan': 1, 
              'Feb': 2, 
              'Mar': 3, 
              'Apr': 4, 
              'May': 5, 
              'Jun': 6, 
              'Jul': 7, 
              'Aug': 8, 
              'Sep': 9, 
              'Oct': 10, 
              'Nov': 11, 
              'Dec': 12}
def convert_date_to_year(date_string):
    if date_string=='releases on TBD':
        year = None
        return year
    split_date = date_string.split(' ')
    year = int(split_date[2])
    return year

def convert_date_to_month(date_string):
    if date_string=='releases on TBD':
        month = None
        return month
    split_date = date_string.split(' ')
    month = month_dict[split_date[0]]
    return month

dataset['release_year'] = dataset['Release Date'].apply(convert_date_to_year)
dataset['release_month'] = dataset['Release Date'].apply(convert_date_to_month)

dataset.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist,release_year,release_month
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K,2022.0,2.0
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K,2019.0,12.0
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K,2017.0,3.0
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K,2015.0,9.0
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K,2017.0,2.0

In [67]:
grouped_by_year = dataset.groupby('release_year')

sum_rankings = lambda x: np.average(x['Rating'])

averaged_year_ratings_grouped_df = grouped_by_year.apply(sum_rankings).to_frame(name='Rating').dropna().reset_index()

years = averaged_year_ratings_grouped_df['release_year'].values
year_ratings = averaged_year_ratings_grouped_df['Rating'].values

print(averaged_year_ratings_grouped_df)

    release_year    Rating
0         1980.0  3.400000
1         1982.0  3.600000
2         1985.0  3.500000
3         1986.0  3.275000
4         1987.0  2.766667
5         1988.0  3.520000
6         1989.0  3.880000
7         1990.0  3.666667
8         1991.0  3.463636
9         1992.0  3.466667
10        1993.0  3.733333
11        1994.0  4.072727
12        1995.0  3.808333
13        1996.0  3.660000
14        1997.0  3.688889
15        1998.0  4.106250
16        1999.0  3.656000
17        2000.0  3.933333
18        2001.0  3.756667
19        2002.0  3.800000
20        2003.0  3.638462
21        2004.0  3.883784
22        2005.0  3.824390
23        2006.0  3.709375
24        2007.0  3.656000
25        2008.0  3.722727
26        2009.0  3.695000
27        2010.0  3.758621
28        2011.0  3.820000
29        2012.0  3.610000
30        2013.0  3.555882
31        2014.0  3.500000
32        2015.0  3.558904
33        2016.0  3.696000
34        2017.0  3.710000
35        2018.0  3.815584
36        2019.0  3.843678
37        2020.0  3.768919
38        2021.0  3.794845
39        2022.0  3.731818

In [68]:
grouped_by_month = dataset.dropna().groupby('release_month')

sum_rankings = lambda x: np.average(x['Rating'])

averaged_month_ratings_grouped_df = grouped_by_month.apply(sum_rankings).to_frame(name='Rating').reset_index()

months = averaged_month_ratings_grouped_df['release_month'].values
month_ratings = averaged_month_ratings_grouped_df['Rating'].values

print(averaged_month_ratings_grouped_df)

    release_month    Rating
0             1.0  3.761798
1             2.0  3.693694
2             3.0  3.811679
3             4.0  3.742353
4             5.0  3.816867
5             6.0  3.673077
6             7.0  3.758242
7             8.0  3.564368
8             9.0  3.747619
9            10.0  3.705263
10           11.0  3.627064
11           12.0  3.790179